---
import LandingHeader from "../components/LandingHeader.astro";
import MainSection from "../components/MainSection.astro";
import Layout from "../layouts/Layout.astro";
import ModelYSection from "../components/ModelYSection.astro";
import Model3Section from "../components/Model3Section.astro";
import ModelSSection from "../components/ModelSSection.astro";
import ModelXSection from "../components/ModelXSection.astro";
import PowerwallSection from "../components/PowerwallSection.astro";
import AccesoriesSection from "../components/AccesoriesSection.astro";
---

<Layout title="Tesla by Yerai">
	<LandingHeader />
	<main
		class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
	>
		<div class="snap-center">
			<MainSection />
		</div>
		<div class="snap-center">
			<ModelYSection />
		</div>
		<div class="snap-center">
			<Model3Section />
		</div>
		<div class="snap-center">
			<ModelSSection />
		</div>
		<div class="snap-center">
			<ModelXSection />
		</div>
		<div class="snap-center">
			<PowerwallSection />
		</div>
		<div class="snap-center">
			<AccesoriesSection />
		</div>
	</main>
</Layout>
