<section
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">Model Y</h2>
      <p class="text-black text-sm underline">
        Concertar una prueba de conducción
      </p>
    </header>

    <footer class="flex flex-grow flex-col justify-end pb-20">
      <div class="flex flex-row justify-center gap-x-6">
        <a
          class="text-white border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium px-12 py-2 inline-block hover:border-black hover:bg-black hover:text-white transition-colors"
          href="#">Explorar inventario</a
        >
        <a
          class="text-black border-[3px] border-white bg-white text-sm rounded font-medium px-12 py-2 inline-block hover:border-black hover:bg-black hover:text-white transition-colors"
          href="#">Pedido personalizado</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="/model-y.avif"
      alt="Model Y"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
